.btnmore {
    @include text ('pb', 14px, 58.33px, 2.8px, $black-cl, uppercase);
    position: relative;
    img {
        width: 40px;
    }
    &::before {
        content: '';
        width: 35px;
        height: 2px;
        background: $main-cl;
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    @include xxs {
        font-size: 11px;
    }
}